.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-center-ui {
    left: 50%;
    transform: translate(-50%, 0%);
}

.vipSponsor {
    width: 50px;
    transform: translate(0%, -35%);
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

@media only screen and (min-width: 600px) {
    .vipSponsor {
        width: 70px;
        transform: translate(0%, 0%);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.shop-marker {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    border-style: solid;
    border-color: white;
    stroke-width: 2px;
    border-width: 2px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}